body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #cdcdcd;
    padding:5px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: auto;
    margin: 1em;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,12rem) minmax(0,2.auto) minmax(0,12rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #aeaee4;
}
.anchors {
    border-left: solid 1px #aeaee4;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #aeaee4;
}
figure {
    text-align: center;
}
iframe {
    text-align: center;
}
.container_botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);

}
@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }

    .container_imagem {
        width: 50vw;
    }

    .container_caixa {
        margin: 2em 2em;
    }
}
